.form-group {
  display: flex;
  flex-direction: column;
  label {
    font-size: $font-xs;
    color: $color-white;
    font-weight: $regular;
    margin-bottom: rem(4);
  }
  fieldset {
    display: flex;
    gap: rem(16);
    border: none;
  }
}

.form-control {
  background-color: $color-gainsboro;
  height: rem(36);
  font-size: $font-xs;
  color: $color-black;
  padding: rem(5) rem(10);
  border: none;
  &::placeholder {
    color: $color-white;
  }
}

.form-select {
  display: block;
  width: 100%;
}

.input-group {
  display: flex;
  justify-content: flex-start;
}
