.page-section {
  @extend %flex-center;
  flex-direction: column;
  .page-header {
    text-align: center;
    padding-top: rem(40);
  }
  .page-content {
    width: 100%;
    text-align: center;
    padding-top: rem(40);
  }
  .page-footer {
    text-align: center;
    padding-top: rem(40);
  }
}
