.section-work-order-form {
  padding: rem(10);
  height: rem(500);
  .work-order-form {
    height: calc(100% - #{rem(30)});
    display: flex;
    flex-direction: column;
    .form-content {
      display: flex;
      gap: rem(10);
    }
    .fields {
      display: flex;
      flex-wrap: wrap;
      gap: rem(10);
      width: calc(100% - #{rem(250)});
      .form-group {
        width: calc(50% - #{rem(5)});
        &.text-area {
          width: 100%;
          textarea {
            height: rem(180);
            resize: none;
          }
        }
      }
    }
    .order-info {
      width: rem(240);
    }
  }
}
